# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
.vscode
.venv
.pytest_cache
.env
*.log


# Serverless directories
.serverless
node_modules
.coverage
swagger
__pycache__